.box {
	width: 72px;
	height: 72px;
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 50px;
	margin-top: 50px;
	font-weight: bold;
	color: white;
}

.box img {
	position: absolute;
	top: -30px;
	right: -30px;
}

h2 {
	font-weight: bold;
	font-family: "Comic Sans MS";
}

.red {
	background-color: red;
	position: absolute;
	float: left;
}

.orange {
	background-color: orange;
	margin-left: 152px;
	position: absolute;
	
	
}

.yellow {
	background-color: yellow;
	margin-left: 294px;
	position: absolute;
	
	
}

.green {
	background-color: green;
	top: 200px;
	position: absolute;
	float: left;
	
	
}

.blue {
	background-color: blue;
	top: 200px;
	position: absolute;
	margin-left: 152px;
	
}

.purple {
	background-color: purple;
	margin-left: 294px;
	position: absolute;
	top: 200px;
}
